<p class="mt-2">
  <app-alerta></app-alerta>
</p>

<app-main-div>
  <div *ngIf="_exibeConteudo">
    <h1 class="display-4 mb-5 font-weight-bold">Itens do Carrinho</h1>

    <div class="form-group mt-5" *ngIf="_carrinho.itens.length">
      <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Valor</th>
            <th scope="col">Quantidade</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of listaPaginada()" (click)="selecionar(item)"
              [ngClass]="{'alert-secondary': item.selecionado}">
            <td>{{ item.nome }}</td>
            <td>{{ item.valor }}</td>
            <td>{{ item.quantidade }}</td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-center mt-3" *ngIf="_carrinho.itens.length > _dadosPaginacao.itensPagina">
        <ngb-pagination
          [collectionSize]="_carrinho.itens.length"
          [(page)]="_dadosPaginacao.pagina"
          [pageSize]="_dadosPaginacao.itensPagina">
        </ngb-pagination>
      </div>
    </div>

    <div class="form-group mt-5">
      <button
        class="btn btn-primary btn-block btn-lg"
        (click)="buscarItens()">Incluir novo</button>
    </div>

    <div class="form-group mt-4">
      <button
        *ngIf="_itemSelecionado.selecionado"
        class="btn btn-secondary btn-block btn-lg"
        (click)="alterarItemSelecionado()">Alterar {{ _itemSelecionado.nome }}</button>

      <button
        *ngIf="_itemSelecionado.selecionado"
        class="btn btn-danger btn-block btn-lg"
        (click)="excluirItemSelecionado()">Excluir {{ _itemSelecionado.nome }}</button>
    </div>
  </div>

  <router-outlet></router-outlet>
</app-main-div>
