<header>
  <div class="container-fluid">
    <div class="col-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a [routerLink]="['']" class="navbar-brand">Home</a>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" [routerLink]="['usuarios']">Usuários</a>
            <a class="nav-item nav-link" href="#">Itens</a>
            <a class="nav-item nav-link" href="#">Carrinho</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
