<app-main-div>
  <div>
    <h1 class="display-4">Consulta Itens</h1>
  </div>

  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Valor</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of getDadosTela().listaItens" (click)="selecionarCadastro(item)"
          [ngClass]="{'alert-secondary': item.selecionado}">
        <td>{{ item.nome }}</td>
        <td>{{ item.valor }}</td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center mt-3">
    <ngb-pagination
      [collectionSize]="getDadosTela().totalItens()"
      [(page)]="getDadosTela().dadosPaginacao.pagina"
      [pageSize]="getDadosTela().dadosPaginacao.itensPagina">
    </ngb-pagination>
  </div>

  <div class="mt-5">
    <button
      type="button" class="btn btn-primary btn-lg btn-block"
      (click)="novoCadastro()">Novo</button>

    <button
      *ngIf="cadastroSelecionado.selecionado"
      type="button" class="btn btn-secondary btn-lg btn-block"
      (click)="alterarCadastro()">Alterar</button>
  </div>
</app-main-div>
