<p class="mt-2">
  <app-alerta [dadosAlerta]="dadosItem.dadosAlerta"></app-alerta>
</p>

<app-main-div>
  <div>
    <h1 class="display-4">Cadastro Item</h1>
  </div>

  <form [formGroup]="dadosItem.formulario" class="mt-5">
    <div class="form-group">
      <input formControlName="nome" class="form-control form-control-lg"
             placeholder="Informe o nome do item" autofocus>

      <app-v-mensagem
        *ngIf="dadosItem.formulario.get('nome').touched && dadosItem.formulario.get('nome').errors?.required"
        mensagem="Nome é obrigatório"></app-v-mensagem>
    </div>

    <div class="form-group">
      <input
        formControlName="valor" class="form-control form-control-lg" type="number"
        placeholder="Informe o valor do item">

      <app-v-mensagem
        *ngIf="dadosItem.formulario.get('valor').touched && dadosItem.formulario.get('valor').errors?.required"
        mensagem="Valor é obrigatório"></app-v-mensagem>

      <app-v-mensagem
        *ngIf="dadosItem.formulario.get('valor').touched && dadosItem.formulario.get('valor').errors?.menorIgualZero"
        mensagem="Valor informado precisa ser maior que zero"></app-v-mensagem>
    </div>

    <div class="form-group mt-5">
      <button
        [disabled]="dadosItem.formulario.invalid || desabilitarSalvar"
        type="button" (click)="salvar()"
        class="btn btn-primary btn-block btn-lg">Salvar</button>

      <button
        class="btn btn-secondary btn-block btn-lg"
        type="button" (click)="cancelar()">Cancelar</button>

      <button
        *ngIf="dadosItem.isAlteracao()"
        class="btn btn-danger btn-block btn-lg"
        type="button" (click)="excluir()">Excluir</button>
    </div>
  </form>
</app-main-div>
