<p class="mt-2">
  <app-alerta [dadosAlerta]="dadosUsuario.dadosAlerta"></app-alerta>
</p>

<app-main-div>
  <div>
    <h1 class="display-4">Cadastro Usuário</h1>
  </div>

  <form [formGroup]="dadosUsuario.formulario" class="mt-5">
    <div class="form-group">
      <input formControlName="nome" class="form-control form-control-lg"
             placeholder="Informe o nome do usuário" autofocus>

      <app-v-mensagem
        *ngIf="dadosUsuario.formulario.get('nome').touched && dadosUsuario.formulario.get('nome').errors?.required"
        mensagem="Nome é obrigatório"></app-v-mensagem>
    </div>

    <div class="form-group">
      <input
        formControlName="email" class="form-control form-control-lg"
        placeholder="Informe o email do usuário">

      <app-v-mensagem
        *ngIf="dadosUsuario.formulario.get('email').touched && dadosUsuario.formulario.get('email').errors?.required"
        mensagem="Email é obrigatório"></app-v-mensagem>

      <app-v-mensagem
        *ngIf="dadosUsuario.formulario.get('email').touched && dadosUsuario.formulario.get('email').errors?.email"
        mensagem="Email inválido"></app-v-mensagem>
    </div>

    <div class="form-group mt-5">
      <button
        [disabled]="dadosUsuario.formulario.invalid || desabilitarSalvar"
        type="button" (click)="salvar()"
        class="btn btn-primary btn-block btn-lg">Salvar</button>

      <button
        class="btn btn-secondary btn-block btn-lg"
        type="button" (click)="cancelar()">Cancelar</button>

      <button
        *ngIf="dadosUsuario.isAlteracao()"
        class="btn btn-danger btn-block btn-lg"
        type="button" (click)="excluir()">Excluir</button>
    </div>
  </form>
</app-main-div>
