/* You can add global styles to this file, and also import other style files */
.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (51).jpg")no-repeat center center;
    background-size: cover;
}
@media (min-width: 768px) {
    .view {
        overflow: visible;
        margin-top: -56px;
    }
}
.navbar {
    z-index: 1;
}

html,
body,
header,
.view {
  height: 100%;
}

.min-vh-default {
  min-height: 70vh !important;
}

ngb-pagination .page-item.active .page-link {
  background-color: #989898;
  border-color: #989898;
}

ngb-pagination .page-item .page-link {
  color: #989898;
}
